@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header .navbar{
    padding: 1.5rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navbar ul li{
    display: inline;
    margin-right: 35px;
}

header .navbar a{
    text-decoration: none;
    color: #2C2D2F;
    font-weight: bold;
}

header .navbar button{
    padding: 10px 20px;
    border: none;
    background-color: #2C2D2F;
    color: #fff;
    border-radius: 30px;
}

.hero{
    background-image: url(banner-bg.png);
    height: 680px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 4%;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.hero .heroText{
    width: 700px;
    text-align: center;
}

.hero .heroText h1{
    font-size: 60px;
    font-weight: 600;
    color: #2C2D2F;
}

.hero span{
    color: #3CCCBF;
}

.hero .heroText p{
    margin-top: 20px;
}

.hero .hero-btn{
    margin-top: 30px;
}

.hero button{
    color: #fff;
    background-color: #2C2D2F;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin: 0 20px;
    cursor: pointer;
}

.hero img{
    width: 600px;
    margin-top: 30px;
}

.hero .label{
    position: absolute;
    left: 4%;
    bottom: 30%;
    width: 300px;
    color: #fff;
}

.hero .label h1{
    font-size: 40px;
    color: #fff;
}

.hero .label button{
    margin: 0;
    margin-top: 20px;
    background-color: #fff;
    color: #2C2D2F;
    font-weight: bold;
}

.arrowLine{
    background-image: url(arrow-line.png);
    height: 30px;
}

.brand{
    display: flex;
    padding: 3rem 4%;
    margin-top: 50px;
    align-items: center;
    justify-content: space-between;
}

.brand .card{
    width: 200px;
}

.brand .card img{
    width: 100%;
}

.showCase{
    padding: 2rem 4%;
}

.showCase .title{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.showCase .title .text{
    width: 600px;
    display: flex;
    align-items: center;
    color: #2C2D2F;
}

.showCase .title p{
    width: 300px;
    margin-right: 25px;
}

.showCase .title h1{
    font-size: 40px;
    position: relative;
}

.showCase .title h1:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #3CCCBF;
    width: 100%;
    height: 10px;
    border-radius: 10px;
}

.showCaseContent{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.showCaseContent .card{
    width: 280px;
    background-color: #F0F2F4;
    padding: 10px;
    border-radius: 10px;
}

.showCaseContent .card .images,
.showCaseContent .card .images img{
    width: 100%;
    border-radius: 10px;
}

.showCaseContent .card .cardText{
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.showCaseContent .card ul{
    list-style: none;
}

.showCaseContent .card ul li{
    margin-top: 15px;
}

.showCaseContent span{
    color: #3CCCBF;
}

.showCaseContent i{
    color: #3CCCBF;
}

.showCaseContent button{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    border: none;
    background-color: #2C2D2F;
    color: #fff;
    margin: 10px 0;
}

/* Booking */

.booked .title{
    color: #2C2D2F;
    padding: 3rem 4%;
}

.booked .title .text{
    display: flex;
    align-items: center;
    width: 700px;
}

.booked .text h1{
    font-size: 40px;
    margin-right: 15px;
    position: relative;
}

.booked .text h1::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #3CCCBF;
    height: 10px;
    width: 100%;
    border-radius: 10px;
}

.booked .title p{
    width: 250px;
}

.booked .bookesContent{
    margin-top: 50px;
    background-color: #3CCCBF;
    height: 150px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0 10px;
}

.booked .bookesContent .card{
    width: 270px;
    height: 130px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.booked .bookesContent .card2{
    background-image: url(arrow-shape.png);
    color: #2C2D2F;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    padding: 20px ;
    background-position: bottom;
}

.booked .bookesContent .card3{
    background-image: url(arrow-shape.png);
    color: #2C2D2F;
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    padding: 20px ;
    background-position: bottom;
    margin-left: -80px;
}

.booked .bookesContent .card img{
    width: 300px;
}

/* Categories */
.categories{
    padding: 2rem 4%;
}

.categories .title .text{
    display: flex;
    align-items: center;
    width: 600px;
    color: #2C2D2F;
}

.categories .title .text p{
    width: 250px;
    margin-left: 20px;
}

.categories .title .text h1{
    font-size: 30px;
    position: relative;
}

.categories .title .text h1::before{
    width: 100%;
    height: 10px;
    background-color: #3CCCBF;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 10px;
}

.categories .categoryContent{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories .categoryContent .card{
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.categories .categoryContent img{
    width: 100%;
    height: 100%;
}

.categories .categoryContent .card:hover img{
    transform: scale(1.1);
    transition: .5s;
}

/* Choose Us */
.chooseUs .title{
    padding: 2rem 4%;
    display: flex;
    justify-content: flex-end;
}

.chooseUs .title .text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chooseUs .title p{
    width: 300px;
    margin-left: 20px;
}

.chooseUs .title .text h1{
    font-size: 40px;
    margin-right: 10px;
    position: relative;
    margin-left: 20px;
}

.chooseUs .title .text h1::before{
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    background-color: #3CCCBF;
    border-radius: 10px;
    bottom: -10px;
    left: 0;
}

.chooseContent{
    padding: 2rem 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chooseContent .card{
    background-color: #F0F2F4;
    width: 300px;
    padding: 20px 30px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.chooseContent .card .icons img{
    background-color: #fff;
    padding: 20px 10px;
    border-radius: 10px;
}

/* News */
.news{
    background-image: url(newsletter-bg.png);
    padding: 5rem 4%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    margin-top: 50px;
    display: flex;
    position: relative;
}

.news .text h1{
    font-size: 30px;
}

.news .forms{
    position: absolute;
    top: 20%;
    left: 35%;
}

.news .forms .card{
    background-color: #F0F2F4;
    width: 350px;
    border-radius: 10px;
    padding: 20px;
    color: #2C2D2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.news .forms p{
    font-size: bold;
    margin-bottom: 30px;
}

.news .forms input{
    padding: 10px ;
    border-radius: 30px;
    background-color: #fff;
    border: none;
    width: 100%;
    margin-bottom: 10px;
}

.news .forms button{
    background-color: #2C2D2F;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
}

/* Customer */
.customer{
    padding: 2rem 4%;
    margin-top: 50px;
}

.customer .title .text{
    width: 600px;
    color: #2C2D2F;
}


.customer .title .text h1{
    font-size: 30px;
    position: relative;
}

.customer .title .text h1::before{
    width: 100%;
    height: 10px;
    background-color: #3CCCBF;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 10px;
}

.customerContent{
    margin-top: 40px;
    color: #2C2D2F;
    display: flex;
    align-items: center;
}


.customerContent .smallContent{
    width: 50%;
}

.customerContent .bigContent{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customerContent i{
    color: #3CCCBF;
}

.customerContent .bigContent img{
    width: 400px;
    margin-left: 30px;
}

footer{
    background-image: url(bgFooter.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4%;
    margin-top: 100px;
}

footer .footerImg img{
    width: 700px;
}

footer ul{
    list-style: none;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer .contact i{
    margin-bottom: 20px;
}

footer .contact i{
    width: 30px;
}

footer .sci{
    display: flex;
    align-items: center;
    
}

footer .sci li{
    margin-right: 20px;
}